/**
 * Browser reset magic sauce.
 */

html {
  overflow-y: scroll;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background: #fff;
  font: 14px/21px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #444444;
  -webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
  -webkit-text-size-adjust: 100%;
}

/**
 * Handle different browser sizes
 */

@media screen and (max-width: 400px) {
  @  -ms-viewport {
    width: 320px;
  };
}

@media screen {
  .clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
  }

  .grid-container: before,
  .clearfix: before,
  .grid-container: after,
  .clearfix: after {
    content: ".";
    display: block;
    overflow: hidden;
    visibility: hidden;
    font-size: 0;
    line-height: 0;
    width: 0;
    height: 0;
  }

  .grid-container: after, .clearfix: after {
    clear: both;
  }

  .grid-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .grid-15,
  .mobile-grid-15,
  .tablet-grid-15,
  .grid-80,
  .mobile-grid-80,
  .tablet-grid-80,
  .grid-100,
  .mobile-grid-100,
  .tablet-grid-100, {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
    float: left;
  }

  .grid-parent {
    padding-left: 0;
    padding-right: 0;
  }

  body {
    min-width: 320px;
  }
}

@media screen and (max-width: 767px) {
  .mobile-grid-100: before,
  .mobile-grid-100: after {
    content: ".";
    display: block;
    overflow: hidden;
    visibility: hidden;
    font-size: 0;
    line-height: 0;
    width: 0;
    height: 0;
  }

  .mobile-grid-100: after {
    clear: both;
  }

  .hide-on-mobile {
    display: none !important;
  }

  .mobile-grid-15 {
    float: left;
    width: 15%;
  }

  .mobile-grid-80 {
    float: left;
    width: 80%;
  }

  .mobile-grid-100 {
    clear: both;
    width: 100%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .tablet-grid-100: before,
  .tablet-grid-100: after {
    content: ".";
    display: block;
    overflow: hidden;
    visibility: hidden;
    font-size: 0;
    line-height: 0;
    width: 0;
    height: 0;
  }
  .tablet-grid-100: after {
    clear: both;
  }
  .hide-on-tablet {
    display: none !important;
  }
  .show-on-tablet {
    display: block;
  }
  .tablet-grid-15 {
    float: left;
    width: 15%;
  }
  .tablet-grid-80 {
    float: left;
    width: 80%;
  }
  .tablet-grid-100 {
    clear: both;
    width: 100%;
  }
}

@media screen and (min-width: 1025px) {
  .grid-100: before,
  .grid-100: after {
    content: ".";
    display: block;
    overflow: hidden;
    visibility: hidden;
    font-size: 0;
    line-height: 0;
    width: 0;
    height: 0;
  }

  .grid-100: after {
    clear: both;
  }

  .hide-on-desktop {
    display: none !important;
  }

  .grid-15 {
    float: left;
    width: 15%;
  }

  .grid-80 {
    float: left;
    width: 80%;
  }

  .grid-100 {
    clear: both;
    width: 100%;
  }
}

/**
 * Page Style
 */

a {
  color: #47a7cf;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
  color: #333333;
  font-weight: normal;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  font-weight: inherit;
}

h1 {
  font-size: 35px;
  line-height: 40px;
  margin-bottom: 14px;
}

h2 {
  font-size: 30px;
  line-height: 50px;
  margin-top: 15px;
  margin-bottom: 5px;
}

h3 {
  font-size: 20px;
  line-height: 33px;
  margin-top: 8px;
}

h4 {
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 4px;
}

h5 {
  font-size: 15px;
  line-height: 20px;
}

h6 {
  font-size: 13px;
  line-height: 18px;
}

hr {
  clear: both;
  border-bottom: 0;
  border-top: 1px dotted #ccc;
  border-right: 0;
  border-left: 0;
  margin: 30px 0;
  min-height: 0px;
  height: 1px;
}

hr.alt1 {
  border-style: solid;
}

hr.alt2 {
  border-style: dashed;
}

pre,
code  {
  font-family: consolas, courier, monospace;
  font-size: 1em;
  line-height: 1.2em;
  white-space: pre;
  background-color: #F8F8FF;
  color: #000;
  border: 1px solid #DDDDDD;
  padding: 1em;
  overflow: hidden;
  overflow-x: auto;
  margin-top: 1em;
  margin-bottom: 1em;
}

p {
  padding-top: 10px;
}

#page-side {
  position: fixed;
  z-index:1;
  margin-top: -10px;
}

#nav-table ol, #nav-table ul {
  list-style: none;
  padding: 0;
}

#page-content {
  position: relative;
  z-index: 2;
}

.cent {
  text-align: center;
}

.site-heading {
  font-size: 4em;
  line-height: 40px;
  color: #222222;
  font-family: "Century Schoolbook L","Georgia","Nimbus Roman No9 L","Norasi","Rekha",serif;
  line-height: 1.1em;
  font-weight: bold;
}

#page {
  width: 720px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}

#page-head {
  margin-top: 1.5em;
  margin-left: 20%;
  padding-bottom: 20px;
}

#page-foot {
  text-align: center;
  margin-bottom: 1em;
  margin-top: 1em;
}

.post-footer {
  padding-top: 20px;
}

.side-navigation-li a {
  padding-left: 5px;
}

.side-navigation-li h3 {
  margin-top: 10px;
  margin-bottom: -3px;
}

.clearfix {
  clear: both;
}

@media screen and (max-width: 767px) {
  #page-head {
    text-align: center;
    margin-left: 0px;
    padding-left: 0px;
  }

  #page {
    max-width: 95%;
  }

  h1.post-heading {
    font-size: 25px;
  }

  h2 {
    font-size: 21px;
  }

  #page-side {
    position: relative;
  }

  #nav-table {
    display: table;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 1em;
  }

  #nav-table .side-navigation-li {
    display: table-cell;
    padding-right: 1em;
  }

  #nav-table .side-navigation-li: last-child {
    padding-right: 0px;
  }
}

.right {
  float: right;
}

.left {
  float: left;
}

.clearfix {
  clear: both;
}
