name: Publish Site

on:
  push:
    branches:
      - master
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: nelsonjchen/gh-pages-pelican-action@0.1.6
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
